header,footer {
    color: #fff;
    background-color: #2C3E50;
}

.hamburger-menu {
    display: none;
}

.avatar-box img {
    height: 200px;
}

.green-bg {
    color: #fff;
    background-color: #1ABC9C;
}

input,textarea {
    border: none;
    border-bottom: 1px #ccc solid;
}

.btn-send button {
    color: #fff;
    background-color: #1ABC9C;
}

.info-bg {
    color: #fff;
    background-color: #3A546D;
}

.icon {
    width: 40px;
    padding: 5px;
    border: 1px #fff solid;
    border-radius: 100%;
}

.green-text {
    color: #1ABC9C;
}

.fa-star::before {

}

.fa-star::after {

}

@media only screen and (max-width: 575px) {

    .navbar-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}