header {
    height: 80px;
    background-color: #2C3E50;
}


.green-bg {
    color: #fff;
    background-color: #1ABC9C;
}

. {
    background-color: #3A546D;
}

.avatar-box img {
    height: 200px;
 }